$primary-950: #370614;
$primary-900: #6F0C28;
$primary-800: #840F30;
$primary-700: #AB133E;
$primary-600: #D1174C;
$primary-500: #E82C61;
$primary-400: #EC527E;
$primary-300: #F0799B;
$primary-200: #F4A0B8;
$primary-100: #F9C6D5;
$primary-50: #FDEDF1;

$secondary-950: #300F0D;
$secondary-900: #521916;
$secondary-800: #74231F;
$secondary-700: #962D28;
$secondary-600: #B83730;
$secondary-500: #CD4841;
$secondary-400: #D76D67;
$secondary-300: #E08D89;
$secondary-200: #E9AEAB;
$secondary-100: #F2CFCD;
$secondary-50: #FBEFEF;

$brown-950: #2B2512;
$brown-900: #493E1F;
$brown-800: #67582C;
$brown-700: #857239;
$brown-600: #A38C46;
$brown-500: #B9A15B;
$brown-400: #C5B279;
$brown-300: #D2C397;
$brown-200: #DFD5B5;
$brown-100: #ECE6D3;
$brown-50: #F9F7F1;

$green-950: #053038;
$green-900: #0A5F6F;
$green-800: #0C7387;
$green-700: #1095AE;
$green-600: #13B7D5;
$green-500: #28CDEC;
$green-400: #4FD6EF;
$green-300: #76DFF3;
$green-200: #9EE8F6;
$green-100: #C5F1FA;
$green-50: #ECFBFD;

$navi-950: #061F37;
$navi-900: #0C3E70;
$navi-800: #0E4985;
$navi-700: #125FAB;
$navi-600: #1774D2;
$navi-500: #2B8AE8;
$navi-400: #529FEC;
$navi-300: #78B5F1;
$navi-200: #9FCAF5;
$navi-100: #C6DFF9;
$navi-50: #EDF5FD;